<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href='/css/reset.css' rel='stylesheet' type='text/css'>
	<link href='/css/blue.css' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Overpass+Mono:700&display=swap" rel="stylesheet">
<!--
	<link rel="apple-touch-icon" sizes="152x152" href="/img/home-icon.png">
-->	
	<title>Blue Screen</title>
</head>
<!-- <body onload="init()"> -->
<body>
	<div class="box">
		<h1 id="code">BUSY</h1>
		<p>Refresh to try again</p>
	</div>
</body>
</html>