<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">
	<link rel="icon" type="image/png" sizes="180x180" href="/img/appicon.png">

	<link href='/css/reset.css' rel='stylesheet' type='text/css'>
	<link href='/css/blue.css' rel='stylesheet' type='text/css'>

	<link href="https://fonts.googleapis.com/css?family=Overpass+Mono:700&display=block" rel="stylesheet">

	<script>const JWT_TOKEN_FROM_PAGE_LOAD = '${ jwt }'</script>

	<script>const USERID = '${ userId }'</script>

	<script src="/js/qrcode.min.js"></script>
	<script src="/js/xhttp-json-jwt.js"></script>
	<script src="/js/blue.js"></script>

	<script>
		const STATE = {
			'empty': true
			,'ready': true
			,'connecting': true
			,'waiting': true
			,'watching': true
			,'recording': true
			,'notfound': true
			,'error': true
		}

		var ERROR_TIMEOUT = 10*1000
		var ERROR_TIMER = null

		var skipViewClick = false
		var oldCode = null

		function toggleRecording() {
			if ( skipViewClick ) {
				skipViewClick = false
				return
			}

			switch (getState()) {
				case 'empty':
				case 'ready':
					startCapture();
					break;
				case 'connecting':
				case 'waiting':
				case 'recording':
					stopCapture();
					break;
				case 'error':
				case 'watching':
				case 'notfound':
				default:
					break;
			}
		}

		async function copyLink() {
	    	let linkToPage = "" + window.location.href

			await navigator.clipboard.writeText(linkToPage)

			document.querySelector('#shareview').classList.add('copied')

			setTimeout(() =>{
				document.querySelector('#shareview').classList.remove('copied')
			}, 500)
		}

		function showShareView() {
			QrCode.makeCode(window.location.href)

			document.querySelector("#shareview").classList.add('visible')
		}

		function hideShareView() {
			document.querySelector("#shareview").classList.remove('visible')
		}

	</script>
	<title>Blue Screen</title>
</head>
<!-- <body onload="init()"> -->
<body class="${ initialState || 'empty' }" onload="init()" onclick="toggleRecording()">
	<div class="view empty ready connecting waiting recording notfound error">
		<div class="topBar"></div>
		<div class="box">
			<!-- really oddd. need to focus from grabbing the h1 when clicking above it?? -->
			<p>&nbsp;</p>
			<h1 id="code" autocorrect="off" autocapitalize="none" spellcheck="false" contenteditable="true" enterkeyhint="go" onfocus="if ( event.target.id != 'code' ) { console.log('go away') }; oldCode = this.innerText; document.querySelector('body').classList.add('typing')" onblur="document.querySelector('body').classList.remove('typing'); if ( oldCode ) { this.innerText = oldCode; skipViewClick = true } " onclick="if ( event.target.id != 'code' ) { console.log('go away') }; event.stopPropagation() ">${ roomId }</h1>
			<div class="message empty"><p>Press anywhere to start presenting<br />or change the room name</p></div>
			<div class="message ready"><p>Press anywhere to start presenting<br />or change the room name</p></div>
			<div class="message connecting">Connecting ...</div>
			<div class="message waiting"><p>Waiting for participants <br />Press anywhere to stop</p></div>
			<div class="message recording">Sharing your screen now</div>
			<div class="message error">Doesn't work – refresh page</div>
			<div class="message notfound">Room not found – check code</div>
			<div class="typing-info"><p>Type new room + hit enter</p><p>ESC to cancel</p></div>
			<br />
			<div id="participants" class="message ready connecting waiting recording">&nbsp;</div>

		</div>
		<div class="bottomBar">
			<div class="message empty ready connecting waiting recording" onclick="showShareView(); event.stopPropagation(); return false;">[ Share link ]</div>
		</div>
	</div>
	<div class="view watching" onclick="">
		<div class="container">
			<img id="display" />
		</div>
	</div>
	<div class="view video" onclick="stopCapture(); event.stopPropagation()">
		<div class="container">
			<video id="video" autoplay muted></video>
		</div>
	</div>
	<div id="shareview" class="view">
		<div></div>
		<div class="box">
			<div id="qrcode"></div>
		</div>
		<div class="message empty ready connecting waiting recording" onclick="copyLink(); event.stopPropagation(); return false;">[ Copy link ]</div>
		<div class="bottomBar">
			<div class="message empty ready connecting waiting recording" onclick="hideShareView(); event.stopPropagation(); return false;">[ Close ]</div>
		</div>
	</div>
</body>
<script>

	document.querySelector('#code').addEventListener('keydown', (e) => {
		let allowedChars = /^[\-a-z0-9]+$/i
    	let codeInput = e.target


	    if (e.key == "Enter") {
	    	oldCode = null
	        e.preventDefault();
	        window.open("/" + codeInput.innerText,"_self")
	    }

	    if ( e.key == "Escape" ) {
	    	codeInput.blur()
	    }

	    if ( !allowedChars.test(e.key) ) {
	    	codeInput.classList.remove("bad-input")
	    	codeInput.classList.add("bad-input")

	    	if ( !codeInput.timer ) {
		    	codeInput.timer = setTimeout(() => { codeInput.classList.remove("bad-input"); delete codeInput.timer }, 500)
	    	}

	        e.preventDefault();
	    }

	});

	var QrCode = new QRCode(document.getElementById("qrcode"), {
		text: window.location.href,
		width: 256,
		height: 256,
		colorDark : "#000000",
		colorLight : "#ffffff",
		correctLevel : QRCode.CorrectLevel.H
	});

</script>
</html>