<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href='/css/reset.css' rel='stylesheet' type='text/css'>
	<link href='/css/blue.css' rel='stylesheet' type='text/css'>
	<link href='/css/dropzone.css' rel='stylesheet' type='text/css'>
	<script src="/js/dropzone.js"></script>
	<script type="text/javascript">
		Dropzone.options.myAwesomeDropzone = {
			url: "/notdefinedyet",
			maxFilesize: 50,
			previewTemplate: "<span>Sending it ...</span>",
			paramName: "file", 
			overwriteUrl: function() {
				return "/upload?code=" + document.getElementById("code").value
			}
		}
	</script>
	<link href="https://fonts.googleapis.com/css?family=Overpass+Mono:700&display=swap" rel="stylesheet">
<!--
	<link rel="apple-touch-icon" sizes="152x152" href="/img/home-icon-152.png">
-->	
	<title>Blue Screen</title>
</head>
<!-- <body onload="init()"> -->
<body>
	<div class="box">
		<form action="/upload" class="dropzone" id="my-awesome-dropzone">
			<input id="code" class="code" placeholder="type code here"></input>
			<div id="dropzone" class="dz-clickable">
				<p class="dz-message">Click or drop your presentation here</p>
			</div>
		</form>
	</div>
</body>
</html>